*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-family: 'Poppins',sans-serif;
    
  }
  
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* background-image:  linear-gradient(red, orange); */
  }
  .container{
    border: solid black 3px;
     background-image:   linear-gradient(#8080806a, #00fbff87);
    
    border-radius:1rem;
  }
  
               
  .container h3{
    font-weight:600px;
    font-size:1.65rem;
    padding:1rem 1.175rem;
    border-bottom:1px solid #fff;
    display: flex;
    justify-content: center;
  }
  .wrapper{
    margin:1.25rem 1.75rem;
  }
  .inputbox input{
  
    border: radius 1.5em;
    font-size:1.06;
    height:35px;
    width:100%;
    font-weight:600;
    border:1px solid #aaa;
    padding: 0px 0px 0px 1rem;
  }
  .inputbox span  button{
   position:absolute;

   right: 250px;
    cursor: pointer;
    /* line-height: 30px; */
    color: red;
    padding: 0.4rem;
    background-color: aqua;
    border-radius: 3px;
  }
  .wrapper .pass-indicator{
  width:100%;
  height:175px;
  background:#dfdfdf;
   position:relative;
  border-radius:10px;
  margin-top:0.75rem;
  }
  .pass-indicator::before{
  position:absolute;
  content:"";
  height:100%;
  width:50%;
  }
  .wrapper .pass-length{
  margin:1.55rem 0 0.75rem 0;
  }
  .pass-length .detail{
   display:flex;
  justify-content:space-between;
  }
  .pass-length input{
    width:100%;
    height:18px;
  }
  .password-setting .option{
    display:flex;
    list-style:none;
    flex-wrap:wrap;
    margin-top:1rem;
  }
  .option .option{
    display:flex;
     margin-bottom:1rem; 
    width:calc(100% /2);
  }
  .option .option:first-child{
    pointer-events:none;
  }
  .option .option:first-child input{
    opacity:0.7;
  } 
    .option .option input{
    border-radius:5px;
      height:16px;
      width:16px; 
   } 
  .option .option label{
    margin-left:0.75rem;
    cursor:pointer;
  }
  .wrapper .generate-password{
    width:100%;
    height:2.5rem;
    border:none;
    border-radius:10px;
    background-color:blue;
    color:white;
    font-size:19px;
    font-style:bold;
    text-transform:uppercase;
    margin:0.94rem 0 1.3rem;
    
  }
.copyright{
  color:red;
  margin-left: 20rem;
}

@media screen and (max-width: 500px) {
  /* Adjust styles for screens with a maximum width of 768px or less */
  .container {
    width: 90%;
    max-width: 400px;
  }

  .inputbox span  {
    right: 5px;
  }

  .password-setting .option {
    width: 100%;
  }
  
  .option .option {
    width: 100%;
  }
  
  .generate-password {
    font-size: 16px;
  }

  .copyright{
   
    margin-left: 0.8rem;
  }

  .inputbox span button {
    right: 6em;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
  /* Adjust styles for screens with a maximum width of 500px or less */
  .wrapper .pass-length input {
    height: 24px;
  }
}






}